In [ ]:
import pandas as pd
import numpy as np
import math

## Divide without division

In [ ]:
def divide(n,d):

  if n == 0 :
    return 0
  elif d == 0:
    print('Cannot divide by 0!')
  else:

    sign = -1 if (n <0) or (d<0) else 1

    n = abs(n)
    d = abs(d)

    q = 0
    while n>=d:
      n -= d
      q += 1

    return q * sign

## Find anagrams

In [ ]:
words = ["listen", "silent", "enlist", "apple", "banana", "lemon", "melon"]

In [ ]:
def find_anagrams(words):
  anag_dict = {w:str(set(w)) for w in words}
  unq_vals = list(set(list(anag_dict.values())))

  anagrams = []
  for uv in unq_vals:
    anagrams.append([k for k,v in anag_dict.items() if v == uv])

  return anagrams

In [ ]:
find_anagrams(words)

[['lemon', 'melon'], ['apple'], ['banana'], ['listen', 'silent', 'enlist']]

Alternate approach

In [ ]:

def find_anagrams(words):
    from collections import defaultdict

    # Dictionary to store groups of anagrams
    anagrams_dict = defaultdict(list)

    # Populate the dictionary with words grouped by sorted characters
    for word in words:
        sorted_word = ''.join(sorted(word))
        anagrams_dict[sorted_word].append(word)

    # Convert the dictionary values to a list of lists
    anagram_groups = list(anagrams_dict.values())

    return anagram_groups

In [ ]:
find_anagrams(words)

[['listen', 'silent', 'enlist'], ['apple'], ['banana'], ['lemon', 'melon']]

In [ ]:
from collections import defaultdict

# Dictionary to store groups of anagrams
anagrams_dict = defaultdict(list)

# Median of medians

In [ ]:
nums = [3, 1, 7, 5, 9, 2, 8, 4, 6]

In [ ]:
 #--- FUNCTION TO COMPUTE MEDIAN
def find_median(l):
  l = sorted(l)
  if len(l) % 2 != 0:

    m = l[int(len(l)/2)]
  else:
    m = int(np.floor((l[int((len(l)/2)-1)] + l[int((len(l)/2))])/2))

  return m

#--- DIVIDING IN CHUNKS
def divide_chunks(l, n):
  x = [l[i:i + n] for i in range(0, len(l), n)]
  return x

In [ ]:
def median_of_medians(nums,n):
  while len(nums) < 1:

    lists = divide_chunks(nums,5)
    lists = [find_median(l) for l in lists]

    nums = lists

  return nums[0]

In [ ]:
nums1 = [3, 1, 7, 5, 2, 8, 4, 6]
nums2 = [5,5,5,5,5,5,4]

In [ ]:
median_of_medians(nums2,5)

5

Alternate approach

In [ ]:
def median_of_medians_gpt(nums):
    if len(nums) == 1:
        return nums[0]

    groups = [sorted(nums[i:i+5]) for i in range(0, len(nums), 5)]
    medians = [group[len(group)//2] for group in groups]

    if len(medians) <= 5:
        pivot = sorted(medians)[len(medians)//2]
    else:
        pivot = median_of_medians(medians)

    left = [num for num in nums if num < pivot]
    right = [num for num in nums if num > pivot]

    k = len(left)
    if k == len(nums) // 2:
        return pivot
    elif k < len(nums) // 2:
        return median_of_medians(right)
    else:
        return median_of_medians(left)

In [ ]:
median_of_medians_gpt(nums)

5

# Mulitply without multiplication

In [ ]:
x = 25
y = 17

In [ ]:
def multiply(x,y):
  counter = 0
  res = 0
  while counter != y:
    res += x
    counter +=1

  return res

In [ ]:
multiply(x,y)

425

# Roman to Numeric

In [ ]:
def romanToInt(self, s: str) -> int:
    m = {
        'I': 1,
        'V': 5,
        'X': 10,
        'L': 50,
        'C': 100,
        'D': 500,
        'M': 1000
    }

    ans = 0

    for i in range(len(s)):
        if i < len(s) - 1 and m[s[i]] < m[s[i+1]]:
            ans -= m[s[i]]
        else:
            ans += m[s[i]]

    return ans

# Numeric to Roman

In [ ]:
def intToRoman(num):
  # Creating Dictionary for Lookup
  num_map = {
      1: "I",
      5: "V",    4: "IV",
      10: "X",   9: "IX",
      50: "L",   40: "XL",
      100: "C",  90: "XC",
      500: "D",  400: "CD",
      1000: "M", 900: "CM",
  }

  # Result Variable
  r = ''


  for n in [1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1]:
      # If n in list then add the roman value to result variable
      while n <= num:
          r += num_map[n]; print(r)
          num-=n
  return r

# Two Sum

In [ ]:
nums = [1,6,4,8,7]
target = 14

In [ ]:
def two_sum(nums, target):
  d = {}
  for n in nums:
    diff = target - n

    if diff in nums and diff != n:
      d[n] = diff
    key_idx = [nums.index(k) for k in d.keys()]
    return key_idx

In [ ]:
two_sum(nums,target)

[]

Alternate approach

In [ ]:
def two_sum(nums, target):
    num_map = {}
    for i, num in enumerate(nums):
        complement = target - num
        if complement in num_map:
            return [num_map[complement], i]
        num_map[num] = i
    return []  # No solution found, though problem guarantees exactly one solution

# Example usage:
nums = [1,6,4,8,7]
target = 14
print(two_sum(nums, target))  # Output: [0, 1]

[1, 3]

# Average Wait time (Re-attempt)

In [ ]:
customers = [[1,2],[2,5],[4,3]]

In [ ]:
available_at = 0
total_wait = 0
for arrival, t in customers:
    available_at = max(available_at, arrival) + t
    total_wait += available_at - arrival
    print(arrival, available_at, total_wait)
print(total_wait / len(customers))

1 3 2
2 8 8
4 11 15
5.0

# First Palindromic String

In [ ]:
words = ["abc","car","ada","racecar","cool"]
# words = ["notapalindrome","racecar"]

In [ ]:
def firstPalindrome(words):
  for w in words:
    if w == w[::-1]:
      return w

  return ""

In [ ]:
firstPalindrome(words)

'ada'

# Rearrange array

In [ ]:
nums = [3,1,-2,-5,2,-4]

In [ ]:
def rearrangeArray(nums):
    pos = [n for n in nums if n >=0]
    neg = [n for n in nums if n <0]

    for index,position in enumerate(range(0,len(nums),2), start=0):
        nums[position]=pos[index]
        nums[position+1]=neg[index]

    return nums

3
1
2

0 0
1 2
2 4

# New section

In [ ]:
arr = [1,1,3,2,1]

In [ ]:
f_m = [0] * (len(set(arr))+1)

In [ ]:
for n in arr:
  f_m[n] +=1

In [ ]:
f_m

[0, 3, 1, 1]

In [ ]:
arr = [1,5,3,7,9]

In [ ]:
arr.sort()

In [ ]:
sorted(arr)

[1, 3, 5, 7, 9]

In [ ]:
s='12:01:00PM'

In [ ]:
s = s[:-2].split(':')

In [ ]:
s[0] = '00'

In [ ]:
':'.join(s)

'00:01:00'